.c-card {
  background-color: #fff;

  &__header {
    padding: 20px 25px;
    background-color: $primary-color;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

  &__body {
    padding: 20px 25px;
  }
}